# Fixing `cyl` Data Type
- 2008: extract int from string
- 2018: convert float to int

In [70]:
# load datasets
import pandas as pd
df_08 = pd.read_csv("data_08.csv")
df_18 = pd.read_csv("data_18.csv")
df_08.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [71]:
# check value counts for the 2008 cyl column
df_08['cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

Read [this](https://stackoverflow.com/questions/35376387/extract-int-from-string-in-pandas) to help you extract ints from strings in Pandas for the next step.

In [9]:
# Extract int from strings in the 2008 cyl column
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)')

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [73]:
# Check value counts for 2008 cyl column again to confirm the change
df_08['cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

In [80]:
# convert 2018 cyl column to int
df_08['cyl'] = df_08['cyl'].astype(int)
df_08['air_pollution_score'] =pd.to_numeric(df_08['air_pollution_score'], errors='coerce')
df_18['air_pollution_score']=pd.to_numeric(df_18['air_pollution_score'], errors='coerce')    
df_08['city_mpg'] =pd.to_numeric(df_08['city_mpg'], errors='coerce')
df_08['hwy_mpg']=pd.to_numeric(df_08['hwy_mpg'], errors='coerce')
df_08['cmb_mpg']=pd.to_numeric(df_08['cmb_mpg'], errors='coerce')
df_18['city_mpg']=pd.to_numeric(df_18['city_mpg'], errors='coerce')
df_18['hwy_mpg']=pd.to_numeric(df_18['hwy_mpg'], errors='coerce')
df_18['cmb_mpg']=pd.to_numeric(df_08['cmb_mpg'], errors='coerce')
df_08['greenhouse_gas_score']= pd.to_numeric(df_08['greenhouse_gas_score'], errors='coerce')

In [85]:
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)