# Merging Datasets
Use Pandas Merges to create a combined dataset from `clean_08.csv` and `clean_18.csv`.

In [44]:
# load datasets
import pandas as pd
df_08 = pd.read_csv("clean_08.csv")
df_18 = pd.read_csv("clean_18.csv")

### Create combined dataset

In [45]:
df_08 = df_08.rename(columns= lambda x: x[:10] + "_2008")

In [46]:
df_08.head(10)

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollut_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_2008,smartway_2008
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes
5,ACURA TL,3.5,6,Man-6,2WD,Gasoline,midsize car,7.0,18.0,27.0,21.0,6,yes
6,ACURA TSX,2.4,4,Man-6,2WD,Gasoline,small car,6.0,19.0,28.0,22.0,6,no
7,ACURA TSX,2.4,4,Auto-S5,2WD,Gasoline,small car,6.0,20.0,28.0,23.0,7,yes
8,ASTON MARTIN DB9,5.9,12,Man-6,2WD,Gasoline,small car,6.0,10.0,16.0,12.0,0,no
9,ASTON MARTIN DB9,5.9,12,Auto-S6,2WD,Gasoline,small car,6.0,11.0,18.0,13.0,1,no

In [47]:
df_combined = pd.merge(df_08, df_18, how='inner', left_on="model_2008", right_on="model")

In [48]:
df_combined.shape

(922, 26)

Save the combined dataset

In [49]:
df_combined.to_csv('combined_dataset.csv', index=False)