# Filter, Drop Nulls, Dedupe
Use `data_08.csv` and `data_18.csv`

In [12]:
# load datasets
import pandas as pd 
df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

In [13]:
df_08.head(2)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no

In [14]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [15]:
# view dimensions of dataset
df_18.shape

(1611, 14)

## Filter by Certification Region

In [16]:
# filter datasets for rows following California standards
df_08 = df_08.query('cert_region == "CA"')
df_18 = df_18.query('cert_region == "CA"')

In [17]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [18]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [19]:
# drop certification region columns form both datasets
df_08.drop('cert_region',axis=1, inplace = True)
df_18.drop('cert_region', axis=1, inplace = True)

In [20]:
df_08.shape

(1084, 13)

In [21]:
df_18.shape

(798, 13)

## Drop Rows with Missing Values

In [51]:
# view missing value count for each feature in 2008
sum(df_08.isnull().any())

7

In [27]:
# view missing value count for each feature in 2018
sum(df_18.isnull().any())

2

In [66]:
# drop rows with any null values in both datasets
df_08.dropna(axis=0, how='any', inplace = True)
df_18.dropna(axis=0, how ='any',inplace = True)

In [67]:
# checks if any of columns in 2008 have null values - should print False
df_08.dropna().sum().isnull()

model                   False
displ                   False
cyl                     False
trans                   False
drive                   False
fuel                    False
veh_class               False
air_pollution_score     False
city_mpg                False
hwy_mpg                 False
cmb_mpg                 False
greenhouse_gas_score    False
smartway                False
dtype: bool

In [68]:
# checks if any of columns in 2018 have null values - should print False
df_08.dropna().sum().isnull()

model                   False
displ                   False
cyl                     False
trans                   False
drive                   False
fuel                    False
veh_class               False
air_pollution_score     False
city_mpg                False
hwy_mpg                 False
cmb_mpg                 False
greenhouse_gas_score    False
smartway                False
dtype: bool

## Dedupe Data

In [69]:
# print number of duplicates in 2008 and 2018 datasets
print (sum(df_08.duplicated()))
print (sum(df_18.duplicated()))

0
0

In [70]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [71]:
# print number of duplicates again to confirm dedupe - should both be 0
print (sum(df_08.duplicated()))
print (sum(df_18.duplicated()))
print(df_08.shape)
print (df_18.shape)

0
0
(986, 13)
(794, 13)

In [63]:
# save progress for the next section
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)